@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
	--Very-dark-blue: hsl(233, 47%, 7%);
	--Dark-desaturated-blue: hsl(244, 38%, 16%);
	--Soft-violet: hsl(277, 64%, 61%);
	--White: hsl(0, 0%, 100%);
	--Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
	--Slightlyer-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 4em 1.5em;
	font-size: 15px;
	font-family: "Inter";
	background-color: var(--Very-dark-blue)
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	width: 100%;
}

.card {
	width: 100%;
	max-width: 975px;
	display: flex;
	background-color: var(--Dark-desaturated-blue);
	color: white;
	border-radius: 10px;
	overflow: hidden;
}

.image {
	display: block;
	min-height: 100%;
	width: 100%;
	object-fit: cover;
	mix-blend-mode: multiply;
	opacity: 65%;
}

.left_side {
	padding: 4em 6em 4em 4em;
	width: 50%;
}

.right_side {
	background-color: var(--Soft-violet);
	width: 50%;
}

.header_text {
	font-size: 2rem;
	margin-bottom: 1em;
}

.header_text>span {
	color: var(--Soft-violet)
}

.left_side>p {
	color: var(--Slightly-transparent-white);
	font-size: .85em;
	line-height: 1.65em;
}

.stats {
	bottom: 0;
	margin-top: 6em;
}

.stats>li {
	margin-right: 2em;
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1em;
}

.comp_name {
	font-size: 1rem;
	font-weight: 500;
	font-family: "Lexend Deca";
	font-size: 0.55em;
	text-transform: uppercase;
	color: var(--Slightly-transparent-white);
	letter-spacing: .1em;
}

@media screen and (max-width: 900px) {
	body {
		padding: 2em 2em;
	}

	.card {
		flex-direction: column-reverse;
		max-width: 375px;
	}
	.stats {
		flex-direction: column;
		text-align: center;
		margin: 0;
	}
	.left_side {
		width: 100%;
		padding: 2em 2.5em 1em 2.5em;
		text-align: center;
	}
	.right_side {
		width: 100%;
	}
	.stats>li {
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1em;
		margin: .5em 0 .5em 0;
	}
	.header_text {
		margin-bottom: .5em;
		font-size: 1.75em;
	}
	.left_side>p {
		color: var(--Slightly-transparent-white);
		font-size: .85em;
		margin-bottom: 1.5em;
	}
}